.feature{
    background-color: $lightGrayishBlue;
    text-align: center;

    @include breakpoints-up(medium){
        text-align: left;
    }

    &__intro{
        margin-bottom: 3.75rem;
        text-align: center;
        @include breakpoints-up(large){
            width:60%;
            text-align: left;
        }
    }
    
    &__grid{

        @include breakpoints-up(medium){
            display: flex;
            
            flex-wrap: wrap;
        }

        

    }

    &__item{
        

        @include breakpoints-up(medium){
          flex: 0 0 50%;
        }

        @include breakpoints-up(large){
            display: flex;
            flex: 1;
            flex-direction: column;
        }
    }

    &__icon{
     margin-bottom: 1.875rem;
     margin-top:1.875rem;
     text-align: center;
     @include breakpoints-up(large){
         margin-bottom: 2.75rem;
         text-align: left;
     }
    }

    &__title{
     font-size: 1.25rem;
     font-weight: 300;
     line-height: 1.15;
     color: $darkBlue;
     margin-bottom: 1rem;
     text-align: center;

     @include breakpoints-up(large){
         font-size: 1.5rem;
         margin-bottom: 1.5rem;
         text-align: left;
     }

    }

    &__description{
        font-size: 0.875rem;
        line-height: 1.5;
        text-align: center;

        @include breakpoints-up(large){
            text-align: left;
        }
    }

}